[Unit]
Description=NVIDIA Power Limit
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nvidia-smi -pl 130

[Install]
WantedBy=multi-user.target
